/* BODY set*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.65em;
    text-align: center;
    color: #393d41 ;
}
/* font montserrat */
h1,h3,button{
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-style: normal;
}

/* header */
 header{
    background-color: black;
}
header img{
    display: block;
    width: 175px;
    padding: 2.18em;
}
header nav {
    width: 100%;
    display: inline-block;
    background: url("/assets/images/banner.jpg") no-repeat;
    background-position: center;
    background-size: cover;

}
header nav div{
    width: 50%;
    margin: 5em auto;
}

h1,h2,h3{
    line-height: 1.5em;
    color: #25a2c3 ;
}
header nav div p:last-child{
    margin: 40px 0;
}
/* link che porta alla scheda Lavora con noi */
header nav div p a{
    text-decoration: none;
    background-color: #f04c2f ;
    padding: 15px 30px;
    border-radius: 0.2em;
    font-weight:bold;
}
/* button{
    border: none;
    padding: 15px 20px;
    font-weight:bold;
    color: white;
    background-color: #f04c2f ;
    border-radius: 5px;
    margin: 15px;
} */

main .articoloLavoro{
    padding: 2.50em;
}
main .articoloLavoro #articoloLavoroImg img{   
    border-radius: 50%;
} 
/* Articolo con img*/
#articoloLavoroImg{
    display: inline-block;
}
main .articoloLavoroContent {
    display: inline-block;
    position: relative;
    width: 50%;/* rendo meta per l'imaggine e meta per il contenuto */
}
/* sovrascrivo i colori */
 h2,a{
    color: white;
}
main .articoloCitazione{
    margin: 0 0 2.5em;
    width: 100%;
    background-color: #e22d0e;
    color: white;
    padding: 20px 0;
}
.articoloCitazione p{
    margin-bottom: 0;
}
/* sezione schede nel main */
.asideDescrizione{
padding: 15px;
}
/* creo la scheda con un minimo di larghezza di 300px per
scheda*/
aside{
    width: 25%;
    min-width: 300px;
    display: inline-block;
    margin: 0 1em 2.5em;
    border: 1px solid #dee1e3;
    border-radius: 15px;
    vertical-align: top;
}
/* larga 100% del box e altezza fissa di 250px */
aside img{
    width: 100%;
    height: 250px;
}
/* footer */
footer{
    padding: 15px;
    line-height: 1em;
    color:#c8e7f0;
    background-color: #25a2c3;
}
/* blocco del footer per alineare i contatti
nel trasporto mobile basta meterllo center  col contenitore*/
footer div{
    display: inline-block;
    text-align: left;
}
 footer div p a{
    color: #c8e7f0;
} 