<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <h1>Register</h1>
      <form [formGroup]="formSub">
        <div class="mb-3">
          <label for="firstName" class="form-label"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
          <div
          *ngIf="controllo('firstName')?.invalid && controllo('firstName')?.touched"
        >
          <ng-container>
            <strong class="text-danger"
              >Campo username obbligatorio almeno 3 lettere</strong
            ></ng-container
          >
        </div>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">cognome</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
          <div
          *ngIf="controllo('lastName')?.invalid && controllo('lastName')?.touched"
        >
          <ng-container>
            <strong class="text-danger"
              >Campo username obbligatorio </strong
            ></ng-container
          >
        </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <div
          *ngIf="controllo('email')?.invalid && controllo('email')?.touched"
        >
          <ng-container>
            <strong class="text-danger"
              >Campo username obbligatorio</strong
            ></ng-container
          >
        </div>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
          />
          <div
          *ngIf="controllo('title')?.invalid && controllo('title')?.touched"
        >
          <ng-container>
            <strong class="text-danger"
              >Campo username obbligatorio</strong
            ></ng-container
          >
        </div>
        </div>
         <!--  <label for="todo" class="form-label"
                                >inserisci todo</label
                            >
                            <textarea
                                id="todo"
                                name="todo"
                                class="form-control"
                                formControlName="todo"
                                rows="2"
                                cols="80"
                            ></textarea> -->
                            
       
        <button type="submit" class="btn btn-primary"  [disabled]="formSub.invalid" (click)="submit()">Submit</button>
      </form>
    </div>
  </div>
</div>
