<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <form [formGroup]="formSub">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="form3Example1"
                class="form-control"
                formControlName="name"
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >First name</label
              >
            </mdb-form-control>
          </div>
          <div class="col">
            <mdb-form-control class="form-outline">
              <input
                mdbInput
                type="text"
                id="form3Example2"
                class="form-control"
                formControlName="surname"
              />
              <label mdbLabel class="form-label" for="form3Example2"
                >Last name</label
              >
            </mdb-form-control>
          </div>
        </div>

        <!-- Email input -->
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="email"
            id="form3Example3"
            class="form-control"
            formControlName="email"
          />
          <label mdbLabel class="form-label" for="form3Example3"
            >Email address</label
          >
        </mdb-form-control>

        <!-- Password input -->
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="password"
            id="form3Example4"
            class="form-control"
            formControlName="password"
          />
          <label mdbLabel class="form-label" for="form3Example4"
            >Password</label
          >
          
        </mdb-form-control>
        <div *ngIf="controllo('password')?.invalid && controllo('password')?.touched">
            <ng-container>
                <strong class="text-danger">Campo password obbligatorio minimo 6 carateri </strong>
            </ng-container>
        </div>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="password"
            id="form3Example4"
            class="form-control"
            formControlName="passwordConfirm"
          />
          <label mdbLabel class="form-label" for="form3Example4"
            >Confirm Password</label
          >
        </mdb-form-control>
        <div *ngIf="controllo('passwordConfirm')?.invalid && controllo('passwordConfirm')?.touched">
            <ng-container>
                <strong class="text-danger">Campo confim password obbligatorio minimo 6 carateri </strong>
            </ng-container>
        </div>

        <!-- Submit button -->
        <button mdbRipple type="submit" class="btn btn-primary btn-block mb-4" [disabled]="formSub.invalid" (click)="submit()">
          Sign up
        </button>
      </form>

        <!-- Register buttons -->
        <!-- <div class="text-center">
          <p>or sign up with:</p>
          <button
            mdbRipple
            type="button"
            class="btn btn-secondary btn-floating mx-1"
          >
            <i class="fab fa-facebook-f"></i>
          </button>

          <button
            mdbRipple
            type="button"
            class="btn btn-secondary btn-floating mx-1"
          >
            <i class="fab fa-google"></i>
          </button>

          <button
            mdbRipple
            type="button"
            class="btn btn-secondary btn-floating mx-1"
          >
            <i class="fab fa-twitter"></i>
          </button>

          <button
            mdbRipple
            type="button"
            class="btn btn-secondary btn-floating mx-1"
          >
            <i class="fab fa-github"></i>
          </button>
        </div> -->
    </div>
  </div>
</div>
