h1 {
  animation: upT 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
}
@keyframes upT {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(700px) translateY(-600px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
header p {
  animation: leftT 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
}
@keyframes leftT {
  0% {
    letter-spacing: -0.5em;
    transform: translateX(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
header button {
  animation: rilievo 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4 alternate
    forwards;
}
@keyframes rilievo {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
