<div class="container">
  <div class="row">
    <div class="col-3" *ngFor="let key of catalogo">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <!-- <h5 class="card-title">key</h5> -->
          <h6 class="card-subtitle mb-2 text-muted">{{key.created}}</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
