<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <p><!-- {{macchina[0].make_model.make.name}} --></p>
            <div class="card text-bg-danger text-danger">
                <img src="./../../../assets/124 Spider.jpg" class="card-img" alt="logomacchina">
                <div class="card-img-overlay">
                  <h5 class="card-title">{{macchina.make_model.make.name}}</h5>
                  <p class="card-text">{{macchina.name}}</p>
                  <p class="card-text"><small>{{macchina.description}}</small></p>
                </div>
              </div>


        </div>

    </div>

</div>
