html,body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
#jumpTron{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(79, 41, 41);

}
#azione{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lampadina{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(228, 6, 6);
    position: absolute;
    left: 60px;
    animation: lampeggio 8s alternate infinite;    
}
@keyframes lampeggio{
    from{background-color: blue; width: 10px; height: 10px;}
    20%{background-color: rgb(15, 60, 193); width: 15px; height: 15px;}
    40%{background-color: rgb(0, 179, 255); width: 20px; height: 20px;}
    60%{background-color: rgb(0, 255, 191); width: 30px; height: 30px;}
    80%{background-color: rgb(0, 255, 76); width: 10px; height: 10px;}
    90%{background-color: rgb(106, 119, 82); width: 10px; height: 10px;}
}